In [45]:
import pandas as pd
import numpy as np

In [46]:
# create a Series
series = pd.Series(np.arange(8), index=['row1','row2','row3','row4','row5','row6','row7','row8'])
series

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [47]:
series['row6']

5

In [48]:
series[[0,5]]

row1    0
row6    5
dtype: int64

In [49]:
#create a dataFrame and generate a 36 random numbers
np.random.seed(25)
df = pd.DataFrame(np.random.rand(36).reshape((6,6)),
                  index=['row1','row2','row3','row4','row5','row6'],
                  columns=['column1','column2','column3','column4','column5','column6'])
df

       column1   column2   column3   column4   column5   column6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [50]:
# to select a especific number from Row X column using string
df.loc[['row2','row5'],['column2','column5']]

       column2   column5
row2  0.437611  0.402366
row5  0.559053  0.421004

In [51]:
# to select a especific number from Row X column using Int
df.iloc[[1,4],[1,4]]

       column2   column5
row2  0.437611  0.402366
row5  0.559053  0.421004

In [52]:
# data slicing using string, when we use string they cover all from the firt until the last 
series['row3':'row5']

row3    2
row4    3
row5    4
dtype: int64

In [53]:
# data slicing using Int, when we use Int, we need to put a number greater than the number we want, to get everything we want.
series[2:5]

row3    2
row4    3
row5    4
dtype: int64

In [54]:
# Comparing with scalars
# in this case we want to get Trur or False
df < 0.4

      column1  column2  column3  column4  column5  column6
row1    False    False     True     True    False     True
row2    False    False    False     True    False     True
row3    False    False     True    False     True    False
row4     True    False    False    False     True    False
row5    False    False     True    False    False    False
row6     True    False    False    False     True    False

In [55]:
# lets filtering with scalars
mask = series[series > 6]
mask

row8    7
dtype: int64

In [56]:
# setting values with scalars with String
series[['row1', 'row5', 'row8']] = 8
series

row1    8
row2    1
row3    2
row4    3
row5    8
row6    5
row7    6
row8    8
dtype: int64

In [57]:
# setting values with scalars Int 
series[[0, 4, 7]] = 9
series

row1    9
row2    1
row3    2
row4    3
row5    9
row6    5
row7    6
row8    9
dtype: int64