In [5]:
import pandas as pd
import numpy as np
import scipy as sp

In [7]:
data = pd.read_csv('mtcars.csv')
data.columns=['cars_name','mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']
data.head()

,cars_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [8]:
data.sum()

cars_name    Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...
mpg                                                      642.9
cyl                                                        198
disp                                                    7383.1
hp                                                        4694
drat                                                    115.09
wt                                                     102.952
qsec                                                    571.16
vs                                                          14
am                                                          13
gear                                                       118
carb                                                        90
dtype: object

In [9]:
data.sum(axis=1)

/var/folders/5v/6sdcd_ln4fxb_wj2944sknw00000gn/T/ipykernel_68329/1923841176.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.sum(axis=1)

0     328.980
1     329.795
2     259.580
3     426.135
4     590.310
5     385.540
6     656.920
7     270.980
8     299.570
9     350.460
10    349.660
11    510.740
12    511.500
13    509.850
14    728.560
15    726.644
16    725.695
17    213.850
18    195.165
19    206.955
20    273.775
21    519.650
22    506.085
23    646.280
24    631.175
25    208.215
26    272.570
27    273.683
28    670.690
29    379.590
30    694.710
31    288.890
dtype: float64

In [10]:
data.median()

/var/folders/5v/6sdcd_ln4fxb_wj2944sknw00000gn/T/ipykernel_68329/4184645713.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.median()

mpg      19.200
cyl       6.000
disp    196.300
hp      123.000
drat      3.695
wt        3.325
qsec     17.710
vs        0.000
am        0.000
gear      4.000
carb      2.000
dtype: float64

In [11]:
data.mean()

/var/folders/5v/6sdcd_ln4fxb_wj2944sknw00000gn/T/ipykernel_68329/531903386.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.mean()

mpg      20.090625
cyl       6.187500
disp    230.721875
hp      146.687500
drat      3.596563
wt        3.217250
qsec     17.848750
vs        0.437500
am        0.406250
gear      3.687500
carb      2.812500
dtype: float64

In [12]:
data.max()

cars_name    Volvo 142E
mpg                33.9
cyl                   8
disp              472.0
hp                  335
drat               4.93
wt                5.424
qsec               22.9
vs                    1
am                    1
gear                  5
carb                  8
dtype: object

In [13]:
data.mpg.idxmax()

19

In [14]:
data.std()

/var/folders/5v/6sdcd_ln4fxb_wj2944sknw00000gn/T/ipykernel_68329/2723740006.py:1: FutureWarning: The default value of numeric_only in DataFrame.std is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.std()

mpg       6.026948
cyl       1.785922
disp    123.938694
hp       68.562868
drat      0.534679
wt        0.978457
qsec      1.786943
vs        0.504016
am        0.498991
gear      0.737804
carb      1.615200
dtype: float64

In [15]:
data.var()

/var/folders/5v/6sdcd_ln4fxb_wj2944sknw00000gn/T/ipykernel_68329/445316826.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.var()

mpg        36.324103
cyl         3.189516
disp    15360.799829
hp       4700.866935
drat        0.285881
wt          0.957379
qsec        3.193166
vs          0.254032
am          0.248992
gear        0.544355
carb        2.608871
dtype: float64

In [16]:
data.cumsum()

,cars_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4Mazda RX4 Wag,42.0,12,320.0,220,7.80,5.495,33.48,0,2,8,8
2,Mazda RX4Mazda RX4 WagDatsun 710,64.8,16,428.0,313,11.65,7.815,52.09,1,3,12,9
3,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive,86.2,22,686.0,423,14.73,11.030,71.53,2,3,15,10
4,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,104.9,30,1046.0,598,17.88,14.470,88.55,2,3,18,12
5,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,123.0,36,1271.0,703,20.64,17.930,108.77,3,3,21,13
6,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,137.3,44,1631.0,948,23.85,21.500,124.61,3,3,24,17
7,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,161.7,48,1777.7,1010,27.54,24.690,144.61,4,3,28,19
8,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,184.5,52,1918.5,1105,31.46,27.840,167.51,5,3,32,21
9,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,203.7,58,2086.1,1228,35.38,31.280,185.81,6,3,36,25
10,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,221.5,64,2253.7,1351,39.30,34.720,204.71,7,3,40,29
11,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,237.9,72,2529.5,1531,42.37,38.790,222.11,7,3,43,32
12,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,255.2,80,2805.3,1711,45.44,42.520,239.71,7,3,46,35
13,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,270.4,88,3081.1,1891,48.51,46.300,257.71,7,3,49,38
14,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,280.8,96,3553.1,2096,51.44,51.550,275.69,7,3,52,42
15,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,291.2,104,4013.1,2311,54.44,56.974,293.51,7,3,55,46
16,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,305.9,112,4453.1,2541,57.67,62.319,310.93,7,3,58,50
17,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,338.3,116,4531.8,2607,61.75,64.519,330.40,8,4,62,51
18,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,368.7,120,4607.5,2659,66.68,66.134,348.92,9,5,66,53
19,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,402.6,124,4678.6,2724,70.90,67.969,368.82,10,6,70,54
20,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,424.1,128,4798.7,2821,74.60,70.434,388.83,11,6,73,55
21,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,439.6,136,5116.7,2971,77.36,73.954,405.70,11,6,76,57
22,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,454.8,144,5420.7,3121,80.51,77.389,423.00,11,6,79,59
23,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,468.1,152,5770.7,3366,84.24,81.229,438.41,11,6,82,63
24,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,487.3,160,6170.7,3541,87.32,85.074,455.46,11,6,85,65
25,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,514.6,164,6249.7,3607,91.40,87.009,474.36,12,7,89,66
26,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,540.6,168,6370.0,3698,95.83,89.149,491.06,12,8,94,68
27,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,571.0,172,6465.1,3811,99.60,90.662,507.96,13,9,99,70
28,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,586.8,180,6816.1,4075,103.82,93.832,522.46,13,10,104,74
29,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,606.5,186,6961.1,4250,107.44,96.602,537.96,13,11,109,80
30,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,621.5,194,7262.1,4585,110.98,100.172,552.56,13,12,114,88
31,Mazda RX4Mazda RX4 WagDatsun 710Hornet 4 Drive...,642.9,198,7383.1,4694,115.09,102.952,571.16,14,13,118,90

In [17]:
data.gear.value_counts()

3    15
4    12
5     5
Name: gear, dtype: int64

In [18]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000